.App {
  text-align: center;
}

.background {
  background: rgb(31, 29, 29);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.blue-bar {
  background: #61dafb;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.home-logo {
  margin-left: 50px;
}
.white-box-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}
.white-box {
  background: white;
  width: 80vw;
  height: 60vh;
}
.buttons-parent {
  display: flex;
  justify-content: space-evenly;
}
.previous-button {
  background: rgb(31, 29, 29);
  color: white;
  height: 5vh;
  font-size: 20px;
  border: none;
  margin-right: 25vw;
}
.next-button {
  background: rgb(31, 29, 29);
  color: white;
  height: 5vh;
  font-size: 20px;
  border: none;
  margin-left: 25vw;
}
.counter-parent {
  display: flex;
  justify-content: right;
}
.counter {
  margin-right: 2vw;
}
.another-parent {
  display: flex;
  justify-content: left;
}
.another-parent-2 {
  display: flex;
  justify-content: left;
}
.another-parent-3 {
  display: flex;
  justify-content: left;
}
.another-parent-4 {
  display: flex;
  justify-content: left;
}
.another-parent-5 {
  display: flex;
  justify-content: left;
}
.another-parent-6 {
  display: flex;
  justify-content: left;
}
.data-in-box {
  margin-left: 5vw;
}
.name {
  margin: 1vh;
}
.from {
  margin: 1vh;
  /* font-weight: 100; */
}
.job-title {
  margin: 1vh;
}
.employer {
  margin: 1vh;
}
.favorite-movies {
  margin: 1vh;
}
.ordered-list {
  display: flex;
  flex-direction: column;
  text-align: left;
}