.App {
  text-align: center;
}

.background {
  background: rgb(31, 29, 29);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.blue-bar {
  background: #61dafb;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.home-logo {
  margin-left: 50px;
}
.white-box-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}
.white-box {
  background: white;
  width: 80vw;
  height: 60vh;
}
.buttons-parent {
  display: flex;
  justify-content: space-evenly;
}
.previous-button {
  background: rgb(31, 29, 29);
  color: white;
  height: 5vh;
  font-size: 20px;
  border: none;
}
.next-button {
  background: rgb(31, 29, 29);
  color: white;
  height: 5vh;
  font-size: 20px;
  border: none;
}